<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lexinda.veryrule.platform.mapper.VeryRuleFlowTempletLogMapper">

	<resultMap id="BaseResultMap" type="com.lexinda.veryrule.platform.model.VeryRuleFlowTempletModel">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="rule_flow_templet_code" property="ruleFlowTempletCode" jdbcType="VARCHAR"/>
        <result column="rule_flow_templet" property="ruleFlowTemplet" jdbcType="VARCHAR"/>
        <result column="version" property="version" jdbcType="TINYINT"/>
        <result column="create_id" property="createId" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_id" property="updateId" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        id,rule_flow_templet_code,rule_flow_templet,version,create_id,create_time,update_id,update_time
    </sql>
    
    <sql id="Base_Condition">
        <where>
            <if test="pm.id != null">and id = #{pm.id,jdbcType=INTEGER}</if>
            <if test="pm.ruleFlowTempletCode != null">and rule_flow_templet_code = #{pm.ruleFlowTempletCode,jdbcType=VARCHAR}</if>
        </where>
    </sql>

    <select id="selectVeryRuleFlowTempletLogList" resultMap="BaseResultMap">
        SELECT 
		<include refid="Base_Column_List"></include>
		FROM very_rule_flow_templet_log 
		<include refid="Base_Condition"></include>
		order by create_time desc
    </select>
    
    <insert id="insert" parameterType="com.lexinda.veryrule.platform.model.VeryRuleFlowTempletModel">
        insert into very_rule_flow_templet_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="ruleFlowTempletCode != null">
                rule_flow_templet_code,
            </if>
            <if test="ruleFlowTemplet != null">
                rule_flow_templet,
            </if>
            <if test="version != null">
                version,
            </if>
            <if test="createId != null">
                create_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateId != null">
                update_id,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="ruleFlowTempletCode != null">
                #{ruleFlowTempletCode,jdbcType=VARCHAR},
            </if>
            <if test="ruleFlowTemplet != null">
                #{ruleFlowTemplet,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                #{version,jdbcType=TINYINT},
            </if>
            <if test="createId != null">
                #{createId,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateId != null">
                #{updateId,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </insert>
 
    <update id="updateById" parameterType="java.util.HashMap">
        update very_rule_flow_templet_log
        <set>
            <if test="ruleFlowTemplet != null">rule_flow_templet= #{ruleFlowTemplet,jdbcType=VARCHAR},</if>
             <if test="updateId != null">update_id = #{updateId,jdbcType=VARCHAR},</if>
            <if test="updateTime != null">update_time = #{updateTime,jdbcType=TIMESTAMP},</if>
            version = #{versionTo,jdbcType=TINYINT}
        </set>
          where id = #{id,jdbcType=VARCHAR} and version = #{version,jdbcType=VARCHAR}            
    </update>
    
</mapper>