<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lexinda.veryrule.platform.mapper.VeryRuleFlowMapper">

	<resultMap id="BaseResultMap" type="com.lexinda.veryrule.platform.model.VeryRuleFlowModel">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="rule_flow_code" property="ruleFlowCode" jdbcType="VARCHAR"/>
        <result column="rule_flow_name" property="ruleFlowName" jdbcType="VARCHAR"/>
        <result column="group_name" property="groupName" jdbcType="VARCHAR"/>
        <result column="parent_rule_flow_code" property="parentRuleFlowCode" jdbcType="VARCHAR"/>
		<result column="rule_flow_desc" property="ruleFlowDesc" jdbcType="VARCHAR"/>
		<result column="rule_flow_templet_code" property="ruleFlowTempletCode" jdbcType="VARCHAR"/>
        <result column="rule_flow_document" property="ruleFlowDocument" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="version" property="version" jdbcType="TINYINT"/>
        <result column="create_id" property="createId" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_id" property="updateId" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        id,rule_flow_code,rule_flow_name,group_name,parent_rule_flow_code,
        rule_flow_desc,rule_flow_templet_code,rule_flow_document,status,version,create_id,create_time,update_id,update_time
    </sql>
    
    <sql id="Base_Condition">
        <where>
            <if test="pm.id != null">and id = #{pm.id,jdbcType=INTEGER}</if>
            <if test="pm.ruleFlowTempletCode != null">and rule_flow_templet_code = #{pm.ruleFlowTempletCode,jdbcType=VARCHAR}</if>
            <if test="pm.ruleFlowCode != null">and rule_flow_code = #{pm.ruleFlowCode,jdbcType=VARCHAR}</if>
            <if test="pm.parentRuleFlowCode!= null">and parent_rule_flow_code = #{pm.parentRuleFlowCode,jdbcType=VARCHAR}</if>
            <if test="pm.parentRuleFlowInfo!= null">and (parent_rule_flow_code = #{pm.parentRuleFlowInfo,jdbcType=VARCHAR} or rule_flow_code = #{pm.parentRuleFlowInfo,jdbcType=VARCHAR})</if>
            <if test="pm.status!= null">and status = #{pm.status,jdbcType=TINYINT}</if>
            <if test="pm.parentRuleFlowCodes!= null">
				and parent_rule_flow_code in 
				    <foreach collection="pm.parentRuleFlowCodes" item="item" open="(" close=")" separator=",">
				    #{item}
				   </foreach>
			</if>
        </where>
    </sql>

    <select id="selectVeryRuleFlowList" resultMap="BaseResultMap">
        SELECT 
		<include refid="Base_Column_List"></include>
		FROM very_rule_flow 
		<include refid="Base_Condition"></include>
		order by create_time desc
    </select>
    
    <insert id="insert" parameterType="com.lexinda.veryrule.platform.model.VeryRuleFlowModel">
        insert into very_rule_flow
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="ruleFlowCode != null">
                rule_flow_code,
            </if>
            <if test="ruleFlowName != null">
                rule_flow_name,
            </if>
            <if test="groupName != null">
                group_name,
            </if>
            <if test="parentRuleFlowCode != null">
                parent_rule_flow_code,
            </if>
            <if test="ruleFlowDesc != null">
                rule_flow_desc,
            </if>
            <if test="ruleFlowTempletCode != null">
                rule_flow_templet_code,
            </if>
            <if test="ruleFlowDocument != null">
                rule_flow_document,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="version != null">
                version,
            </if>
            <if test="createId != null">
                create_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateId != null">
                update_id,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="ruleFlowCode != null">
                #{ruleFlowCode,jdbcType=VARCHAR},
            </if>
            <if test="ruleFlowName != null">
                #{ruleFlowName,jdbcType=VARCHAR},
            </if>
            <if test="groupName != null">
                #{groupName,jdbcType=VARCHAR},
            </if>
            <if test="parentRuleFlowCode != null">
                #{parentRuleFlowCode,jdbcType=VARCHAR},
            </if>
            <if test="ruleFlowDesc != null">
                #{ruleFlowDesc,jdbcType=TINYINT},
            </if>
            <if test="ruleFlowTempletCode != null">
                #{ruleFlowTempletCode,jdbcType=TINYINT},
            </if>
            <if test="ruleFlowDocument != null">
                #{ruleFlowDocument,jdbcType=TINYINT},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="version != null">
                #{version,jdbcType=TINYINT},
            </if>
            <if test="createId != null">
                #{createId,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateId != null">
                #{updateId,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </insert>
 
    <update id="updateById" parameterType="java.util.HashMap">
        update very_rule_flow
        <set>
            <if test="pm.groupName != null">group_name= #{pm.groupName,jdbcType=VARCHAR},</if>
            <if test="pm.status != null">status = #{pm.status,jdbcType=TINYINT},</if>
            <if test="pm.ruleFlowName != null">rule_flow_name = #{pm.ruleFlowName,jdbcType=VARCHAR},</if>
            <if test="pm.ruleFlowDesc != null">rule_flow_desc = #{pm.ruleFlowDesc,jdbcType=VARCHAR},</if>
            <if test="pm.ruleFlowTempletCode != null">rule_flow_templet_code = #{pm.ruleFlowTempletCode,jdbcType=VARCHAR},</if>
            <if test="pm.ruleFlowDocument != null">rule_flow_document = #{pm.ruleFlowDocument,jdbcType=VARCHAR},</if>
            <if test="pm.updateId != null">update_id = #{pm.updateId,jdbcType=VARCHAR},</if>
            <if test="pm.updateTime != null">update_time = #{pm.updateTime,jdbcType=TIMESTAMP},</if>
            version = #{pm.versionTo,jdbcType=TINYINT}
        </set>
          where id = #{pm.id,jdbcType=VARCHAR} and version = #{pm.version,jdbcType=VARCHAR}            
    </update>
    
    <delete id="deleteById" parameterType="java.util.HashMap">
        DELETE FROM very_rule_flow
        WHERE id=#{pm.id}
    </delete>
    
</mapper>